{% extends layout %}

{% block content %}
  <h1 class="left__line mt-4">Kilka słów o mnie</h1>
  <section class="about__me">
    <div class="text__container">
      <p>W mojej pracy na codzień wykorzystuję technologie: Php, Javascript, mySql, Css, Html.</p>
      <p>Tworzę strony internetowe, wizytówki, sklepy, systemy CRM do zarządzania pracownikami/klientami.</p>
      <p>
        Do każdej strony internetowej tworzę indywidualny panel cms do zarządzania treściami na stronie z możliwoscią tworzenia oraz modyfikowania podstron, prowadzeniem bloga,
        zmianą danych kontaktowych itp.
      </p>
      <p>
        Wszystkie wykonywane przezemnie strony internetowe są w pełni responsywne i dopasowywują się do każdego telefonu / tabletu czy ekranu monitora.
      </p>
      <p>
        Nie tworzę stron w oparciu o darmowe i gotowe rozwiązania typu wordpress czy joomla, posiadam autorski system CMS do zarządzania stroną, który jest o wiele szybszy niż wordpress.
      </p>
    </div>
    <div class="image__container">
      <img class="img-fluid" src="https://cdn.pixabay.com/photo/2015/06/01/09/04/imac-793042_1280.jpg" alt="">
    </div>
  </section>
  <section class="skills__container mt-3">
    <h2 class="left__line mb-3">Umiejętności</h2>
    <div class="d-flex justify-content-between flex-wrap icon__box">
      <div>
        <p>Laravel</p>
        <p>Codeigniter</p>
      </div>
      <div>
        <p>Vue js</p>
        <p>jQuery</p>
      </div>
      <div>
        <p>MySQL</p>
      </div>
      <div>
        <p>Boostrap 3/4</p>
        <p>Bulma</p>
      </div>
      <div>
        <p>Twig</p>
        <p>Blade</p>
      </div>
    </div>
  </section>
{% endblock %}
