{% block content %}
  <form class="test-form" onsubmit="sub()">
    <input type="text" name="Test[raz]" value="raz">
    <input type="text" name="Test[dwa]" value="dwa">
    <input type="text" name="Test[trzy]" value="trzy">
    <input type="submit">
  </form>
{% endblock %}
