{% extends layout %}

{% block content %}
  {% import 'components/form.twig' as form %}
  <div class="d-flex justify-content-center align-items-center flex-column content">
    <h4 class="text-center custom__title">Graff CRM</h4>
    <form class="my__form" data-action="/login/check">
      <label class="mb-3">
        <i class="fa fa-user"></i>
        <input name="name" type="text" placeholder="Podaj login" value="{{ name }}">
      </label>
      <label class="mb-3">
        <i class="fa fa-lock"></i>
        <input name="password" type="password" placeholder="Podaj hasło" value="{{ password }}">
      </label>
      {{ form.csrf() }}
      <input type="submit" value="Zaloguj">
    </form>
  </div>
{% endblock %}
