.icon__box div {
  height: 120px;
  width: 120px;
  transition: .6s;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.icon__box div:after {
  content: '';
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  filter: invert(40%);
  position: absolute;
  transition: .6s;
}

.icon__box div:first-child:after {
  background-image: url('../../../../storage/public/svg/php.svg');
}
.icon__box div:nth-child(2):after {
  background-image: url('../../../../storage/public/svg/js.svg');
}
.icon__box div:nth-child(3):after {
  background-image: url('../../../../storage/public/svg/sql.svg');
}
.icon__box div:nth-child(4):after {
  background-image: url('../../../../storage/public/svg/css.svg');
}
.icon__box div:nth-child(5):after {
  background-image: url('../../../../storage/public/svg/html.svg');
}

.icon__box div:hover:after {
  opacity: 0.3;
  transition: .6s;
}

.icon__box div:hover:nth-child(even):after {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.icon__box div:hover:nth-child(odd):after {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.icon__box div p {
  opacity: 0;
  transition: .6s;
}

.icon__box div:hover p {
  opacity: 1;
  transition: .6s;
  font-size: 1.22rem;
  color: var(--maincolor);
  font-weight: bold;
}

.about__me {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 1rem 0;
}
.about__me .text__container {
  line-height: 1.4rem;
  font-weight: 300;
}

.about__me .image__container img {
  height: 100%;
}

@media (max-width: 991px) {
  .about__me {
    flex-direction: column;
    display: flex;
  }
}
