{% extends layout %}

{% block content %}
<div class="box">
  <h3>Welcome in dashboard</h3>
  <button class="render" data-url="dash/modal" data-el="modal">Modal</button>
  <button class="render" data-url="dash/modal" data-el="cycuszki">Component</button>
  <div data-component="cycuszki"></div>
  <select name="name" data-select="slim">
  </select>
</div>
{% endblock %}
