{% extends layout %}

{% block content %}
<div class="box">
  <h3>Welcome in dashboard</h3>
  <button class="render btn" data-url="dash/modal" data-el="modal">Modal</button>
  <button class="render btn" data-url="dash/modal" data-el="cycuszki">Component</button>
  <div data-component="cycuszki"></div>
</div>
{% endblock %}
