{% extends layout %}

{% block content %}
  {% import 'components/form.twig' as form %}
  {% import 'components/button.twig' as button %}

  <div class="box">
  <h3>Welcome in dashboard</h3>
  &nbsp;{{ button.render({el: 'test', text:'tak', url: 'no'}) }}
    {{ button.link({url: '/clients', ico: 'fa-user'}) }}
  <div data-component="cycuszki"></div>
  <form data-action="dash/upload">
   <div class="form__grid">
    {{ form.input({name: 'user[name]', value: value}) }}
    {{ form.select({name: 'user[info]', type: 'file', data:users, url:'users', label: 'label testowy'}) }}
   </div>
  </form>
</div>

{% endblock %}
