{% block content %}
  <form data-action="appearance/store" method="post" class="testForm">
    <div class="modal-header">
      <h5 class="modal-title">Modal title</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <span>Kolor przewodni</span>
        <input class="form-control" type="text" name="maincolor" value="{{ maincolor }}">
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" value="Save changes">
    </div>
  </form>
  <script>
    console.log('dupa');
  </script>
{% endblock %}
