{% if messages is not empty %}
  {% for msg in messages %}
    <div class="alert alert-{{ color }} mb-2">
      {% if msg.field %}
        [{{ msg.field }}] {{ msg.msg }}
      {% else %}
        {{ msg }}
      {% endif %}
    </div>
  {% endfor %}
{% endif %}
