.realization__container {
  display: flex;
  flex-direction: column;
}

.realization__item {
  display: grid;
  min-height: 40vh;
  grid-template-columns: 40% 60%;
  margin: 1rem 0;
  border-bottom: 1px solid var(--maincolor);
  padding-bottom: 1rem;
  width: 100%;
  cursor: pointer;
  text-decoration: none!important;
}

@media (max-width: 991px) {
  .realization__item {
    flex-direction: column-reverse;
    display: flex;
  }
  .realization__description p {
    display: none;
  }
  .realization__container .realization__item .realization__description h3, .realization__container .realization__item .realization__description span {
    margin: 0 0 1rem 0!important;
  }
  .realization__container .realization__item .realization__photo {
    min-height: 50vh!important;
  }
}

@media (max-width: 767px) {
  .realization__container .realization__item .realization__description span {
    display: none;
  }
}

@media (min-width: 991px) {
  .realization__item:nth-child(2n) {
    direction: rtl;
  }
}

.realization__container .realization__item .realization__photo {
  min-height: 30vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity .6s ease-in-out;
}

.realization__item:hover .realization__photo {
  box-shadow: 0 0 4px 0 #11a4d2;
  transition: .6s;
}

.realization__container .realization__item .realization__description {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  align-items: center;
  justify-content: space-between;
}

.realization__container .realization__item .realization__description h3 {
  font-weight: 200;
  margin: 0;
  transition: .6s;
}

.realization__container .realization__item .realization__description span {
  color: var(--maincolor);
  font-weight: bold;
}

.realization__item:hover .realization__description h3 {
  color: var(--maincolor);
  transition: .6s;
}

.realization__container .realization__item .realization__description p {
  font-weight: 200;
  margin: 1.5rem 0 0 0;
  text-overflow: initial;
  line-height: 26px;
  text-align: left;
}
