.content {
  height: 100vh;
  background: #252e39
}

.custom__title {
  color: #b3b3b3;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: 5px;
  font-family: 'Nunito', sans-serif;
}

.my__form {
  width: 340px;
}

.my__form label {
  display: flex;
  margin: 0 0 1.5rem 0;
  width: 100%;
  align-items: center;
  border: 1px solid #c8c8c8;
  background: #323c48;
}

.my__form label i {
  color: #c8c8c8;
  font-size: 1.5rem;
  height: 45px;
  text-align: center;
  width: 45px;
  line-height: 45px;
  border-right: 1px solid #c8c8c8;
  background: #212c38;
}

.my__form label input {
  background: transparent;
  border: none;
  height: 45px;
  transition: .7s;
  font-family: 'Nunito', sans-serif;
  width: 100%;
  padding-left: .7rem;
  color: #c8c8c8;
}

.my__form input[type="submit"] {
  border: 1px solid #c8c8c8;
  background: #323c48;
  padding: .6rem 2rem;
  transition: .7s;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  width: 100%;
  color: #c8c8c8;
}

.my__form input[type="submit"]:hover {
  letter-spacing: 3px;
  background: #c8c8c8;
  color: #282828;
}
