.alert  {
  min-width: 340px;
  text-align: center;
  border-radius: 8px;
  font-family: 'Nunito', sans-serif;
  padding: .6rem 1.25rem!important;
  font-weight: bold;
}

span.err {
  position: absolute;
  top: 4px;
  color: #ce2e22;
  font-size: 12px;
  font-weight: bold;
  display: block;
  text-align: center;
  width: 100%;
}

.input_error, .input_error:focus, .input_error:active {
  border: 1px solid #ce2e22!important;
}
