body {
  font-family: 'Nunito', sans-serif !important;
  font-size: 14px;
}

.grid {
  display: grid;
  grid-template-columns: 15% 85%;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 20% 80%;
  }
}

@media (max-width: 991px) {
  .grid {
    grid-template-columns: 100%;
  }
  .grid aside.left-panel {
    display: none;
  }
}

@media (min-width: 991px) {
  nav.top__nav a i.fa-bars {
    display: none;
  }
}

.is__active {
  color: #fff;
}

.grid aside.left-panel {
  background: #2d2b32;
  flex-direction: column;
}

.grid aside.left-panel a {
  padding:  0.5em 0 0.5em 1em;
  color: #c8c8c8;
  text-decoration: none;
  cursor: pointer;
  transition: .6s;
  border-bottom: 1px solid #999999;
}

.grid aside.left-panel a.has__parent::after {
  content: '\f105';
  font-family: 'FontAwesome';
  float: right;
  position: relative;
  right: .6rem;
  width: 1.25em;
}

.grid aside.left-panel a.open {
  color: white;
}

.grid aside.left-panel a.open::after {
  content: '\f107';
}

.grid aside.left-panel a.active {
  font-weight: bold;
  background: rgba(255,255,255,0.1);
}

.grid aside.left-panel a i {
  float: left;
  line-height: 24px;
  font-size: 1.2rem;
  width: 1.25em;
  margin-right: 1.3rem;
  color: #c8c8c8;
}

.grid aside.left-panel a:hover {
  color: #ffffff;
  transition: .6s;
}

.grid aside.left-panel div.parent {
  display: none;
  flex-direction: column;
  font-size: .9rem;
  background: #242229;
}

.grid aside.left-panel div.parent a {
  padding: 0.5em 0 0.5em 2.7em;
  border-left: 1px solid #999;
}

.grid aside.left-panel div.parent a:hover {
  padding-left: 3.3rem;
}

.grid main {
  padding: 1rem;
  background: #f4f6f9;
}

nav.top__nav {
  background: #2d2b32;
  border-bottom: 1px solid white;
}

nav.top__nav a i {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  margin: 0 .5rem 0 .5rem;
  cursor: pointer;
  display: block;
}

nav.top__nav a {
  text-decoration: none;
  cursor:pointer;
}

nav.top__nav a.logo {
  color: white;
  font-size: 1.4em;
  text-decoration: none;
  cursor: pointer;
}

i.fa {
  color: #ffffff;
}

table .position-sticky {
  text-align: right;
}

a.is_grey {
  color: #777;
}

a.is_grey i {
  color: #777;
}

a.is_edit, button.is_edit {
  color: white;
  background: #d7d705;
}

table thead tr td {
  background-color: #f9f9f9;
  border: 1px solid #e9e9e9;
  font-weight: bold;
}

table tbody tr td {
  background-color: #fff;
  border: 1px solid #f3f3f3;
}

table tbody tr:nth-child(odd) td {
  background-color: #fcfcfc;
  border: 1px solid #f3f3f3;
}

.table td, .table th {
  vertical-align: middle!important;
  padding: .4rem!important;
}

i {
  pointer-events: none;
}

.ss-main .ss-single-selected .placeholder {
  overflow: hidden;
}

.page-link:focus {
  box-shadow: none!important;
}
