#modal .modal-dialog {
  max-width: 600px;
}

.modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content .modal-header,
.modal-content .modal-body,
.modal-content .modal-footer {
  padding: .8rem;
}

.modal-content .modal-header button {
  margin:0;
  padding:0;
  font-size: 2.6rem;
  font-weight: 400;
}

.modal-header button {
  width: auto;
}

.modal-content .modal-footer {
  justify-content: flex-start;
}
