h1, h2, h3, h4, h5, h6, p, a, span, b {
    color: var(--textcolor);
    font-family: 'Nunito', sans-serif;
}

.left__line {
    font-weight: 200;
}

.left__line:before {
    content: '|';
    color: var(--maincolor);
    position: relative;
    top: -4px;
    right: 4px;
}

nav.navbar {
    background: var(--headercolor) !important;
    box-shadow: 1px 3px 6px 1px hsla(0, 0%, 80%, .5);
}

footer {
    background: var(--footercolor) !important;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

body {
    background: var(--bgcolor) !important;
}

.navbar-light a.navbar-brand, .navbar-light a.navbar-brand:hover, a.navbar-brand:focus {
    color: var(--maincolor);
    cursor: pointer;
    font-weight: bold;
}

button.navbar-toggler {
    padding: .20rem .50rem;
}

.navbar-light .navbar-nav a.nav-link {
    color: var(--textcolor);
    transition: .5s;
}

.navbar-light .navbar-nav a.nav-link:hover {
    color: var(--maincolor);
    transition: .5s;
}

@media (max-width: 575px) {
    h1 {
        font-size: 2rem !important;
    }
}

main {
    height: 86.9vh;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none!important;
}
