{% extends layout %}
{% import 'components/form.twig' as form %}
{% block content %}
  <div class="box">
    <form data-action="/clients/store" method="post">
      <h5 class="modal-title">Dodaj klienta</h5>
      <div class="form__long__modal__grid">
        {{ form.input({
          type: 'text',
          name: 'name',
          label: 'Nazwa',
          value: ''
        }) }}
      </div>
      {{ form.csrf('Clients@store') }}
      {{ form.submit({value: 'Zapisz', class: 'btn-outline-success mt-3'}) }}
    </form>
  </div>
{% endblock %}
