{% extends layout %}
  {% import 'components/form.twig' as form %}
  {% import 'components/button.twig' as button %}
{% block content %}

    <div class="box">
        <h3>Welcome in dashboard</h3>
    </div>
{% endblock %}